<link href="css/StylePanelIntranet.css">
<link href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp" rel="stylesheet">
<!-- Roboto, Roboto Mono and kaushan-script fonts from Google Fonts-->
<link href="https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,500" rel="stylesheet">
<!-- Load main stylesheet-->
<link href="css/styles.css" rel="stylesheet" type="text/css">
<link href="css/StylePanelIntranet2.css">